/**
 * Main component
 */
.twt-htaccess-routing .stuffbox h3 {
    margin: 0 0 12px 0;
    padding-left: 12px;
    line-height: 2.75em;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    font-size: 1.1em;
}

.twt-htaccess-routing textarea.stuffbox-content {
    width: 100%;
    height: 500px;
    font-family: monospace;
    color: #444;
    background-color: #f9f9f9;
    margin-bottom: -3px;
    line-height: 1.4em;
    padding: 24px;
}

.twt-htaccess-routing .twt-btn-commit {
    float: right;
}

.twt-htaccess-routing .nav-tab-active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.twt-htaccess-routing .nav-tab {
    border-bottom-width: 1px;
}

.twt-htaccess-routing .nav-tab:focus,
.twt-htaccess-routing .nav-tab:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
}

.twt-htaccess-routing [rel="tab-content"] {
    border-color: #ccc;
    border-top-width: 0;
}

.twt-htaccess-routing [rel="tab-content"] .inside {
    padding: 24px;
}

/**
 * Copyright footer
 */
.twt-plugin-footer {
    text-align: center;
}

.twt-plugin-footer img {
    display: inline-block;
    width: 64px;
    margin: 0 1em 0 0;
    position: relative;
    top: -4px;
}

.twt-copy {
    font-size: .9em;
    text-align: left;
    display: inline-block;
}

.twt-copy .twt-apply-now {
    display: block;
    font-size: .9em;
}
